/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --gold: #bfa865;
  --light-gold: #d1bd8c;
  --black: #000;
}
/* Padding below the footer and lighter body text */

/* Font Face Declarations for Galano Grotesque */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  color: #5a5a5a;
  font-size: 16px;
  background-color: #f0ede7;
}

.gold {
  color: var(--gold);
}

.btn-primary {
  color: var(--black);
  background-color: var(--light-gold);
  border-color: var(--light-gold);
}

.btn-primary:hover {
  color: var(--black);
  background-color: var(--light-gold);
  border-color: var(--light-gold);
  opacity: 0.6;
}

/* header */

.logo {
  font-size: 2.5rem;
  font-weight: 700;
}

.nav .nav-link,
.navbar-nav .nav-link {
  color: var(--black) !important;
  font-size: 1.5rem !important;
}
.nav .nav-link:hover,
.navbar-nav .nav-link:hover {
  color: var(--gold) !important;
}
.nav .nav-link.active,
.navbar-nav .nav-link.active {
  font-weight: bold !important;
}

/* Hamburger menu styles */
.navbar-toggler {
  border: none;
  padding: 0.5rem;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5rem;
  z-index: 10;
  color: #f0ede6;
  width: 40%;
  letter-spacing: 1px;
  right: 7.5%;
  left: unset;
}

.carousel-caption p {
  font-size: 2rem;
}

.carousel-caption a {
  font-size: 2.3rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 1.5px 1.5px black;
  background-color: #c4ac6c;
  border-radius: 2rem;
  padding: 1.2rem 2.5rem;
  border: 0;
  opacity: 1;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Featurettes
------------------------- */

.search-btn {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  margin-left: -3rem;
  background-color: var(--light-gold);
  border: 0;
}

.form-control-lg {
  border-radius: 2rem;
  border: 0;
  width: 80%;
  background-color: #bca7764a;
}

.form-control-lg:focus {
  border: 0;
}

.invisible-divider {
  margin: 4rem 0;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading,
.story-heading {
  line-height: 1;
  letter-spacing: -0.05rem;
}

.ab-item-img {
  height: 530px;
}

/* footer */

footer {
  font-size: 1.25rem;
  color: var(--black);
  background-color: #aba089;
}

.vertical-divider {
  border-left: thick solid black;
}

footer .sm-logo {
  color: #5a5a5a;
}

footer ul a {
  color: var(--black);
  text-decoration: none;
}

footer ul a:hover {
  color: gray;
}

footer .copyright {
  color: #6c757c;
}

.walogo {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  z-index: 9999;
}

.walogo img {
  height: 3.5rem;
}

/* Footer responsive classes */
.desktop-col-4 {
  width: auto;
}

.desktop-col-3 {
  width: auto;
}

.desktop-px-5 {
  padding-left: inherit;
  padding-right: inherit;
}

.desktop-my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.copyright-container {
  padding-top: 1rem;
}

/* about.html */

.about-topbanner {
  height: 40rem;
  width: 100%;
  margin: 0 0 4rem 0;
  color: var(--black);
  font-size: 1.7rem;
  background-image: linear-gradient(white, gray, black);
}

.about-topbanner .row {
  background: url(./assets/images/graycircle.png) no-repeat center;
}

.banner-text {
  text-shadow: 1px 1px 2px white;
}

.content {
  background: url(./assets/images/swirl.png) no-repeat;
  background-size: contain;
}

/* timeline */

.timeline {
  position: relative;
  min-height: 200px;
}

.line {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  top: 0;
  height: 100%;
  background-color: #fff;
}

.line:before,
.line::after {
  position: absolute;
  display: block;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--light-gold);
  left: 50%;
  top: 13%;
  transform: translateX(-50%);
}

.content-box {
  width: 45%;
  position: relative;
  background-color: #bca7764a;
}

.content-box h5 {
  color: var(--black);
}

.content-box.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  right: -10px;
  border: medium solid #bca7764a;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #bca7764a;
}

/* Add arrows to the right container (pointing left) */
.content-box.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid #bca7764a;
  border-width: 10px 10px 10px 0;
  border-color: transparent #bca7764a transparent transparent;
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

.display-2 {
  font-family: "Poppins";
  font-size: 3.8rem;
  font-weight: 600;
}

.lead {
  font-family: "Poppins";
  font-weight: 300;
  color: #000;
  font-size: 10rem;
}

.footer-heading {
  font-family: "Poppins";
  font-weight: 700;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin: 0.5rem 0;
    line-height: 1.4;
  }

  .featurette-heading,
  .story-heading {
    font-size: 2.5rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}

/* Desktop styles (992px and above) */
@media (min-width: 992px) {
  .desktop-col-4 {
    width: 33.333333%;
  }

  .desktop-col-3 {
    width: 25%;
  }

  .desktop-px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .desktop-my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .copyright-container {
    padding-top: 1.5rem;
  }
}

/* Revise the vertical divider media query */
/* ----------------------------- */
/* VERTICAL DIVIDER STYLES */
/* ----------------------------- */
@media (max-width: 768px) {
  .vertical-divider {
    border-left: none;
    border-top: 1px solid black;
    margin-top: 2rem;
    padding-top: 2rem;
  }
}

@media (min-width: 769px) {
  .vertical-divider {
    border-left: thick solid black;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}

/* ----------------------------- */
/* MOBILE RESPONSIVE STYLES */
/* ----------------------------- */
@media (max-width: 768px) {
  /* Logo size adjustment for mobile */
  .logo {
    font-size: 1.5rem;
  }
  .col-12{
    text-align: center;
  }
  .featurette-heading1{
    font-size: 2rem;
    margin-left: 70px;
    margin-bottom: 25px;
  }
  .featurette-heading2{
    margin-top: 50px;
    font-size: 2rem;
    margin-left: 25%;
  }
  .bd-carousal-img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    
  }
  .text-black-mobile {
    
    text-align: center;
    color: white;
    font-size: medium;
    width: 100%;
    left: 50px;
  }
  .img-fluid {
    margin-right: 15%;
    width: 70%;
  }

  .text-start {
    margin-top: 50px;
  }

  /* Banner text and slideshow font adjustment for mobile */
  .carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 20rem;
    position: absolute;
    z-index: 10;
  }

  .carousel-caption h1,
  .display-2 {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color: white;
    margin-left: 10px;
  }

  .carousel-caption p {
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 0px;
  }

  .carousel-caption a.btn {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
  }

  .carousel-item {
    width:100%;
    height: 38rem;
  }

  /* Footer for mobile */
  footer {
    text-align: center;
    font-size: 1rem;
  }

  /* Featurette responsiveness */
  .featurette-heading {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .invisible-divider {
    margin: 2rem 0;
  }

  .featurette-divider {
    margin: 3rem 0;
  }

  .lead {
    font-size: 1rem;
  }

  /* WhatsApp button */
  .walogo {
    right: 1rem;
    bottom: 1rem;
  }

  .walogo img {
    height: 2.5rem;
  }

  .section {
    width: 100%;
  }

  .bead {
    height: 1.3rem;
    width: 1.3rem;
    top: 40px;
  }
  
}

/* ----------------------------- */
/* DESKTOP (>800px) STYLES */
/* ----------------------------- */
@media (min-width: 801px) {
  .carousel-caption {
    text-align: left;
    bottom: 4rem;
    position: absolute;
    z-index: 10;
  }
  .featurette-heading1{
    margin-top: 50px;
    
    font-size: 2.5rem;
  }
  .featurette-heading2{
    margin-top: 50px;
    font-size: 2.5rem;
    margin-left: 45%;
  }
  .carousel-caption h1,
  .display-2 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    color: white;
    margin-bottom: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 1.5rem;
  }

  .carousel-caption a.btn {
    font-size: 1.1rem;
    padding: 0.75rem 2rem;
  }

  .carousel-item {
    
    height: 40rem;
  }
}

/* ----------------------------- */
/* CAROUSEL IMAGE STYLING */
/* ----------------------------- */
.bd-carousal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* Tablet Responsive Styles */
@media (min-width: 769px) and (max-width: 991px) {
  .logo {
    font-size: 2rem;
  }

  .carousel-caption {
    width: 60%;
    right: 20%;
    left: 20%;
    text-align: center;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }

  .carousel-caption a {
    font-size: 1.6rem;
    padding: 0.8rem 2rem;
  }

  .display-2 {
    font-size: 2.5rem;
  }

  .carousel-item {
    height: 30rem;
  }
}
/* 
@media (max-width: 991px) {
  footer .vertical-divider h3,
  footer .vertical-divider ul {
    text-align: center;
  }

  footer .vertical-divider ul {
    padding-left: 0;
  }
}

footer .vertical-divider .list-unstyled {
  text-align: center !important;
}

footer .vertical-divider .list-unstyled li {
  text-align: center !important;
} */